{% extends "modal.html" %}

{% block style %}
<style type="text/css">
.modal-dialog { /* Width */
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
}
</style>
{% endblock %}

{% block header %}
{{ task_name }}
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
{% endblock %}

{% block body %}
<table class="table table-sm text-nowrap">
    <tr>
        <th>Trigger</th>
        <th>Command</th>
        <th>Parameters</th>
        <th>Status</th>
        <th>Time Stamp</th>
    </tr>
    {% for row in history %}
    <tr>
        <td>{{ row['trigger'] }}</td>
        <td>{{ row['command'] }}</td>
        <td>{{ row['parameters'] }}</td>
        <td>{{ row['status'] }}</td>
        <td>{{ row['time_stamp'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
{% endblock %}
