<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Angora</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="static/favicon.ico">

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        >

        <!-- fontawesome -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
            integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
            crossorigin="anonymous"
        >

        <!-- <style type="text/css">
            .navbtn {
                margin-right: 1em;
            }
        </style> -->
    </head>
    <body>
        <div class="container-fluid d-flex justify-content-end align-self-center">
            <button type="button" class="btn navbtn" onclick="load_dashboard()"><i class="fas fa-home fa-lg"></i></button>
            <button type="button" class="btn navbtn" onclick="load_tasks()"><i class="fas fa-th fa-lg"></i></button>
            <button type="button" class="btn navbtn" onclick="load_schedule()"><i class="fas fa-clock fa-lg"></i></button>
            <button type="button" class="btn btn-danger navbtn"><i class="fas fa-trash-alt fa-lg"></i></button>
        </div>
        <br>

        <div class="container-fluid" id="output"></div>

        <!-- Shared by tasks.html and schedule.html -->
        <div
            class="modal fade"
            id="dialog_box"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dialog_label"
            aria-hidden="true">
        </div>

        <!-- Optional JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                load_tasks();
            });
            // load_dashboard();

            function load_tasks() {
                $.ajax({
                    url: "/tasks",
                    type: "POST",
                    contentType: "application/json",
                    success: function(result) {
                        $("#output").html(result);
                    },
                    error: function() {
                        $("#output").html("ERROR");
                    },
                });
            }

            function load_schedule() {
                $.ajax({
                    url: "/schedule",
                    type: "POST",
                    contentType: "application/json",
                    success: function(result) {
                        $("#output").html(result);
                    },
                    error: function() {
                        $("#output").html("ERROR");
                    },
                });
            }

            // function load_dashboard() {
            //     $.ajax({
            //         url: "views/v1/dashboard/",
            //         type: "POST",
            //         contentType: "application/json",
            //         success: function(result) {
            //             $("#output").html(result);
            //         },
            //         error: function() {
            //             $("#output").html("ERROR");
            //         },
            //     });
            // }

            // The following are shared by tasks.html and schedule.html
            // Open dialog with history info
            function get_history(task_name) {
                hide();

                $.ajax({
                    url: "/history",
                    type: "POST",
                    data: {
                        "name": task_name
                    },
                    success: function(result) {
                        $("#dialog_box").html(result);
                    },
                    error: function() {
                        $("#dialog_box").html("ERROR");
                    },
                    complete: function() {
                        $("#dialog_box").modal('show');
                    }
                });
            }

            // // Open dialog with log info
            // function get_log(task_name) {
            //     hide();

            //     $.ajax({
            //         url: "views/v1/log/",
            //         type: "POST",
            //         data: {
            //             'name': task_name
            //         },
            //         success: function(result) {
            //             $("#dialog_box").html(result);
            //         },
            //         error: function() {
            //             $("#dialog_box").html("ERROR");
            //         },
            //         complete: function() {
            //             $("#dialog_box").modal('show');
            //         }
            //     });
            // }

            // // Open workflow page
            // function get_workflow(task_name) {
            //     hide();

            //     $.ajax({
            //         url: "views/v1/workflow/",
            //         type: "POST",
            //         data: {
            //             'name': task_name
            //         },
            //         success: function(result) {
            //             $("#output").html(result);
            //         },
            //         error: function() {
            //             $("#output").html("ERROR");
            //         },
            //     });
            // }

            // function get_task_params(task_name) {
            //     hide();

            //     $.ajax({
            //         url: "views/v1/task/params/",
            //         type: "POST",
            //         data: {
            //             'name': task_name
            //         },
            //         success: function(result) {
            //             $("#dialog_box").html(result);
            //         },
            //         error: function() {
            //             $("#dialog_box").html("ERROR");
            //         },
            //         complete: function() {
            //             $("#dialog_box").modal('show');
            //         }
            //     });

            // }
        </script>
    </body>
</html>