<style type="text/css">
    .node rect {
        fill: transparent;
        stroke: #999;
        stroke-width: 1.5px;
        font-size: 5em;
    }

    .edgePath path {
        stroke: #333;
        stroke-width: 1.5px;
    }

    .task {
        margin-top: -.4em;
        /*margin: -.65em 0 0 -.55em;*/
        /*padding: .09em .38em .09em .38em;*/
        border-radius: 0;
    }

    .popover {
        max-width: none;
    }
</style>

<h3>{{task_name}}</h3>

<h4>Children</h4>
<svg id="svg_children" class="container-fluid"></svg>
<br><br>
<h4>Parents</h4>
<svg id="svg_parents" class="container-fluid"></svg>

<script type="text/javascript">
    console.log("The formatting on this page exhibit strange behavior if you zoom in/out.  A fix is pending");
    function draw_graph(nodes, tasks, reverse) {
        let g = new dagreD3.graphlib.Graph()
            .setGraph({
                "rankdir": "LR"
            }).setDefaultEdgeLabel(function () { return {}; });

        for (var node in nodes) {
            g.setNode(node, {
                "labelType": "html",
                "label": tasks[node],
                "padding": 0,
            });

            for (var index in nodes[node]) {
                // Parents
                if (reverse == true) {
                    g.setEdge(nodes[node][index], node);
                }
                // Children
                else {
                    g.setEdge(node, nodes[node][index]);
                }
            }
        }

        return g;
    }

    var children = JSON.parse('{{ children | tojson | safe }}');
    var parents = JSON.parse('{{ parents | tojson | safe }}');
    var tasks = {{ tasks | safe }};

    var c = draw_graph(children, tasks, false);
    var p = draw_graph(parents, tasks, true);

    var render = new dagreD3.render();

    var svg_c = d3.select("#svg_children");
    var svg_p = d3.select("#svg_parents");

    render(svg_c, c);
    render(svg_p, p);

    svg_c.attr("height", c.graph().height);
    svg_c.attr("viewBox", `0 0 ${c.graph().width} ${c.graph().height}`);

    svg_p.attr("height", p.graph().height);
    svg_p.attr("viewBox", `0 0 ${p.graph().width} ${p.graph().height}`);


    $(document).ready(function () {
        // Some setup work for all the popovers
        $(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                placement: 'auto',
                trigger: 'manual',
                content: function (i) { return $(this).find('div.d-none').html(); }
            })
        });

        // Show the hidden popover on click of task
        $('.task').click(function () {
            $('[data-toggle="popover"]').popover('hide');
            $(this).popover('show');
        });
    });
</script>