<style type="text/css">
    .node rect {
        fill: transparent;
        stroke: #999;
        stroke-width: 1.5px;
        font-size: 5em;
    }
    .edgePath path {
        stroke: #333;
        stroke-width: 1.5px;
    }
    .task {
        margin-top: -.4em;
        /*margin: -.65em 0 0 -.55em;*/
        /*padding: .09em .38em .09em .38em;*/
        border-radius: 0;
    }
    .popover {
        max-width: none;
    }
</style>

<svg id="svg-canvas" class="container-fluid"></svg>

<script type="text/javascript">
    var g = new dagreD3.graphlib.Graph()
        .setGraph({
            "rankdir": "LR"
        }).setDefaultEdgeLabel(function() { return {}; });

    var children = JSON.parse('{{ children | tojson | safe }}');

    for (var node in children) {
        // The width property doesn't seem to play well with css and html so
        // all of this is some hackery to get the css/html element to fit into
        // the node rectangle.
        var padding_chars = "**";
        var num_padding_chars = 20 - node.length;
        if (num_padding_chars > 4) {
            padding_chars = "*".repeat(num_padding_chars/2);
        }

        g.setNode(node, {
            "labelType": "html",
            "label": "<div id='" + node + "'>" + padding_chars + node + padding_chars + "</div>&nbsp;",
            "padding": 0,
        });

        for (var index in children[node])
            g.setEdge(node, children[node][index])
    }

    var render = new dagreD3.render();

    var svg = d3.select("svg");
    var svgGroup = svg.append("g");

    render(d3.select("svg g"), g);

    svg.attr("height", g.graph().height + 50);
    svg.attr("viewBox", "0 -10 " + g.graph().width + " " + (g.graph().height + 20));


    function load_task(task_name) {
        element_id = "#" + task_name;
        $.ajax({
            url: "/task",
            type: "POST",
            data: {
                "name": task_name
            },
            async: false,  // Necessary for this to work
            success: function(result) {
                $(element_id).html(result);
            },
            error: function(result) {
                $(element_id).html("ERROR");
            },
        });
    }

    // A hide function for readability
    function hide() {
        $('[data-toggle="popover"]').popover('hide');
    }

    // So here's some fun, now the the graph is drawn, overlay each node with
    // the same task html object we use everywhere else
    $(document).ready(function () {
        for (var node in children) {
            load_task(node);
        }

        // Set properties of all the popovers at once
        $(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                placement: 'auto',
                trigger: 'manual',
                content: function(i) { return $(this).find('div.d-none').html(); }
            })
        });

        // Show the hidden popover on click of task
        $('.task').click(function() {
            hide();
            $(this).popover('show');
        });


    });
</script>
